.convert {
  background: #4CAF50;
  width: 100vw;
  height: 100vh;

  .back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F9F9F9;
    padding: 1.2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation: fadeIn .6s ease-in-out forwards;
    max-width: 95%;

    &--group {
      display: flex;
      margin-bottom: .5rem;
      justify-content: space-between;
      position: relative;

      .date {
        width: 30%;
        margin-top: .5rem;
      }

      .error {
        font-size: .8rem;
        color: red;
        bottom: -1rem;
        position: absolute;
        animation: fadeIn .3s ease-in-out forwards;
      }
    }

    &--control {
      display: flex;
      flex-direction: column;
      width: 100%;


      input, textarea, select {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        display: block;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 120px;
        margin-right: .5rem;

        &.gray {
          color: #ccc
        }

        &:focus {
          outline: none;
        }
      }
    }

    input[type=submit] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #4CAF50;
      color: #FFF;
      padding: 10px;
      font-size: 15px;
      margin-top: 1rem;

      &:disabled {
        background: #ccc;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .results {
    position: absolute;
    top: calc(100% + 1rem);
    width: 100%;
    left: 0;
    background: #F9F9F9;
    padding: 1.2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation: fadeIn .4s ease-in-out;

    .clear {
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: .6;
      cursor: pointer;
      transition: .3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    p {
      font-weight: 600;
    }

    ul {
      display: flex;

      li {
        &:after {
          content: ',';
          margin-right: .3rem;
        }

        &:last-of-type::after {
          display: none;
        }
      }
    }

  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
