<div class="convert">
  <a class="back-btn" routerLink="/">
    &larr; Back to home
  </a>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form--group">
      <div class="form--control">
        <label for="data">Data:</label>
        <textarea name="data" id="data" cols="30" rows="10" formControlName="data"></textarea>
      </div>
    </div>

    <p>Date of birth:</p>
    <div class="form--group" [formGroup]="birthDateForm">
      <div class="form--control date">
        <select formControlName="day" [class.gray]="!birthDateForm.get('day').value">
          <option [selected]="true" [ngValue]="null">Day</option>
          <option [ngValue]="day" *ngFor="let day of dateSelectValues.days">{{day}}</option>
        </select>
      </div>
      <div class="form--control date">
        <select formControlName="month" [class.gray]="!birthDateForm.get('month').value">
          <option [selected]="true" [ngValue]="null">Month</option>
          <option [ngValue]="month" *ngFor="let month of dateSelectValues.months">{{month}}</option>
        </select></div>
      <div class="form--control date">
        <select formControlName="year" [class.gray]="!birthDateForm.get('year').value">
          <option [selected]="true" [ngValue]="null">Year</option>
          <option [ngValue]="year" *ngFor="let year of dateSelectValues.years">{{year}}</option>
        </select>
      </div>

      <span class="error" *ngIf="errors['notAdult']">You need to be adult to perform this action</span>
    </div>

    <div class="form--group">
      <input type="submit" value="Submit" [disabled]="form.invalid && !form.errors.notAdult">
    </div>


    <div class="results" *ngIf="noResults">
      <span class="clear" (click)="onClearResults()">&#10005;</span>
      <p>No results found :(</p>

    </div>

    <div class="results" *ngIf="results?.length">
      <span class="clear" (click)="onClearResults()">&#10005;</span>
      <p>Results:</p>
      <ul>
        <li *ngFor="let number of results">{{number}}</li>
      </ul>
    </div>
  </form>
</div>
