.home {
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

  &--header {
    position: relative;
    z-index: 10;

    h1, p {
      text-shadow: white 0 0 2px;
      color: #fff
    }

    p {
      max-width: 500px;
      margin-bottom: 1rem;
    }

    a {
      color: #3762be;
      text-decoration: none;
      font-weight: 600;
    }

    @media screen and (max-width: 768px) {
      max-width: 90%;
      text-align: center;
    }
  }
}
