<div class="home">

  <div class="home--header" appFadeIn>

    <h1>Welcome</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolor dolores ea officiis qui sunt tempora
      voluptas!</p>

    <a routerLink="/convert">Convert Data</a>

  </div>

</div>
<particles [params]="particlesParams" [style]="particlesStyles" [width]="width" [height]="height"></particles>
